{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Créer un trick{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="signin" class="content col-lg-5 col-md-8 mx-auto my-auto">

                <h1 class="text-center">Connexion</h1>

                {#
                <!-- Error messages -->
                {% if error %}
                    <div class="alert alert-danger text-center">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                #}

                {{ form_start(form) }}

                    {{ form_row(form.username, {value: lastUsername}) }}
                    {{ form_row(form.password) }}

                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Se connecter
                    </button>
                {{ form_end(form) }}

                <p class="text-center"><a href="{{ path('app_registration') }}">Créer un compte</a></p>

                <p class="text-center"><a href="{{ path('app_forgot_password') }}">Vous avez oublié votre mot de passe ?</a></p>

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}