<header class="container-fluid d-none d-lg-block">
    <nav class="navbar navbar-expand navbar-custom">
        <a id="logo" href="/">
            <img class="" src="/img/logo-snowtricks.png">
        </a>
        <div class="collapse navbar-collapse">

            {% if app.user %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Bonjour {{ app.user.username|capitalize }}</a></li>
                </ul>
            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_createTrick') }}">Créer un trick</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="nav-item active"><a class="nav-link" href="{{ path('app_homepage') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_registration') }}">Inscription</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
