<div class="col">
    <div class="card">
        <a href="{{ path('app_display_trick', {'slug': trick.slug}) }}">
            {% for image in trick.images %}
                {% if loop.index == 1 %}
                    <img src="{{ asset(image.path ~ image.fileName) }}" class="card-img-top" alt="{{ image.alt }}">
                {% endif %}
            {% endfor %}
            <div class="card-body">
                <h5 class="card-title float-left">
                    {{ trick.name }}
                </h5>
                {% if app.user %}
                    <div class="float-right">
                        <a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}" class="a-card-pencil"><i class="fas fa-pencil-alt"></i></a>
                        <a id="remove-trick-{{ trick.slug }}" data-toggle="modal" data-target="#removeTrickModal" href="#" class="a-card-trash"><i class="fas fa-trash-alt"></i></a>
                        <div class="modal fade" id="removeTrickModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div id="modal-title" class="modal-body d-flex justify-content-center">
                                        Voulez-vous vraiment supprimer le trick "{{trick.name}}" ?<br>
                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <a href="#" class="btn btn-secondary btn-md" role="button" data-dismiss="modal">NON</a>
                                        <a id="modal-remove-trick" href="#" class="btn btn-danger btn-md" role="button">OUI, je veux vraiment supprimer ce trick !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </a>
    </div>
</div>





