{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/formTrick.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Créer un trick{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="create-trick" class="content col-lg-5 col-md-8 mx-auto">

                <h1 class="text-center">Créer un nouveau trick</h1>

                <!-- Form -->
                {{ form_start(form) }}

                    {# {{ form_widget(form) }} #}
                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}

                <fieldset class="form-group">
                    <label>Image(s)</label>
                    <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                        {% for image in form.images %}
                            {% if(loop.index > 1) %}
                                {# <hr class="separation"> #}
                            {% endif %}
                            <li class="subForm col-sm-12">
                                <div class="row">
                                    <div class="col-sm-9">
                                        {{ form_row(image.name) }}
                                        {{ form_row(image.alt) }}
                                        {{ form_row(image.fileName) }}
                                    </div>
                                    <div class="col-sm-3 my-auto text-center">
                                        {% if image.vars.data.main == true %}
                                            <div class="text-center">* Image principale</div>
                                        {% endif %}
                                        <button type="button" class="remove-element btn btn-danger" data-collection-holder-class="videos">
                                            <i class="fas fa-trash"></i> Supprimer
                                        </button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link btn btn-dark" data-collection-holder-class="images">
                        <i class="fas fa-plus"></i> Ajouter une image
                    </button>
                </fieldset>

                <fieldset class="form-group">
                    <label>Video(s)</label>
                    <ul class="videos" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                        {% for video in form.videos %}
                            <li class="subForm col-sm-12">
                                <div class="row">
                                    <div class="col-sm-9">
                                        {{ form_row(video.name) }}
                                        {{ form_row(video.url) }}
                                    </div>
                                    <div class="col-sm-3 my-auto text-center">
                                        <button type="button" class="remove-element btn btn-danger" data-collection-holder-class="videos">
                                            <i class="fas fa-trash"></i> Supprimer
                                        </button>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link btn btn-dark" data-collection-holder-class="videos">
                        <i class="fas fa-plus"></i> Ajouter une vidéo
                    </button>
                </fieldset>

                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Créer le trick
                    </button>
                {{ form_end(form) }}

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/formTrick.js') }}"></script>
    {% endblock %}