{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/displayTrick.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Trick{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div class="content col-lg-10 col-md-10 mx-auto bg-light">

                <div id="mainImage">
                    {% for image in trick.images %}
                        {% if loop.index == 1 %}
                            <img src="{{ asset(image.path ~ image.filename) }}" alt="{{ image.alt }}" style="width: 100%;">
                        {% endif %}
                    {% endfor %}
                    <div class="centered">
                        <h1>{{ trick.name }}</h1>
                    </div>
                    {% if app.user %}
                        <div class="top-right">
                            <a href="{{ path('app_edit_trick', {'slug': trick.slug}) }}" class="a-card-pencil"><i class="fas fa-pencil-alt"></i></a>
                            <a id="remove-trick-{{ trick.slug }}" data-toggle="modal" data-target="#removeTrickModal" href="#" class="a-card-trash"><i class="fas fa-trash-alt"></i></a>
                            <div class="modal fade" id="removeTrickModal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div id="modal-title" class="modal-body d-flex justify-content-center">
                                            Voulez-vous vraiment supprimer le trick "{{trick.name}}" ?<br>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <a href="#" class="btn btn-secondary btn-md" role="button" data-dismiss="modal">NON</a>
                                            <a id="modal-remove-trick" href="#" class="btn btn-danger btn-md" role="button">OUI, je veux vraiment supprimer ce trick !</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="row">
                    <div class="row text-center col-11 mx-auto my-2 bg-light" id="infos">
                        <p class="col">Publié le {{ trick.createdAt | date('d/m/Y') }} à {{ trick.createdAt | date('H:i') }} par {{ trick.user.username }}</p>
                        {% if trick.updatedAt %}
                            <p class="col">Mis à jour le {{ trick.updatedAt | date('d/m/Y') }} à {{ trick.updatedAt | date('H:i') }}</p>
                        {% endif %}
                        <p class="col">Catégorie : {{ trick.category.name }}</p>
                    </div>
                </div>

                <div class="row">
                    <div id="trickDescription" class="col-11 mx-auto mt-4 mb-1">
                        <h3>Description :</h3>
                        {{ trick.description | raw }}
                    </div>
                </div>

                <div class="row">
                    <div class="mx-auto">
                        <button id="seeMedias" type="button" class="btn btn-secondary">Voir les médias</button>
                    </div>
                </div>

                <div id="medias">
                    <div class="row" id="trickImages">
                        {% for image in trick.images %}
                            {% if loop.index > 1 %}
                                <div class="trickImage mx-auto col-sm-6 col-md-4 col-lg-4 col-xl-3">
                                    <a href="#" class="pop">
                                        <img src="{{ asset(image.path ~ image.fileName) }}" width="100%" alt="{{ image.alt }}">
                                    </a>
                                    <div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog-perso">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <img src="" class="imagepreview" style="width: 100%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row" id="trickVideos">
                        {% for video in trick.videos %}
                            <div class="trickVideo col-sm-12 col-md-12 col-lg-10 col-xl-6 mx-auto mt-4 mb-1 embed-responsive embed-responsive-16by9">
                                <iframe
                                        src="{{ asset(video.url) }}">
                                </iframe>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <hr>

                <div class="row text-center">
                    {% if app.user %}
                        <div class="col-12 mx-auto">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-success col-sm-s8 mx-auto">Laisser un commentaire</button>
                            {{ form_end(form) }}
                        </div>
                    {% else %}
                        <div class="col-12 mx-auto">
                            <h3>Connecte-toi pour laisser un commentaire</h3>
                        </div>
                    {% endif %}
                </div>

                <hr>

                {% set allcomments = [] %}
                {% for comment in trick.comments %}
                    {% set index = loop.index %}
                    {% set allcomments = allcomments|merge(
                        [
                            {
                                "id": comment.id,
                                "userName": comment.user.username,
                                "userImagePath": comment.user.imagePath,
                                "userImageFilename": comment.user.imageFileName,
                                "userImageAlt": comment.user.imageFileName,
                                "trickCreatedAt": comment.trick.createdAt | date('d/m/Y à H:i'),
                                "content": comment.content
                            }
                        ]
                    ) %}
                {% endfor %}
                {# {{ dump(allcomments) }} #}

                <section id="comments">
                    {% for comment in trick.comments | slice(0,5) %}
                        {{ include('tricks/_inc/trick_comments.html.twig') }}
                    {% endfor %}
                </section>
                <div class="row text-center">
                    <button id="loadMoreComments" class="btn btn-primary col-md-6 col-8 mx-auto" data-commentstodisplay="{{ allcomments|json_encode }}">Voir plus de commentaires</button>
                </div>

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/displayTrick.js') }}"></script>
    {% endblock %}