{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/editTrick.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Modification du trick{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="create-trick" class="content col-lg-5 col-md-8 mx-auto">

                <h1 class="text-center">Modification du trick</h1>

                <!-- Form -->
                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    {{ form_errors(form) }}






                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Enregistrer les modifications
                    </button>
                {{ form_end(form) }}

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/editTrick.js') }}"></script>
    {% endblock %}