{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/homePage.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Accueil{% endblock %}

    {% block content %}
        <div class="content-homePage">

            <div id="carousel-container" class="container-fluid">
                <!-- Carousel -->
                {{ include('tricks/carousel.html.twig') }}
            </div>

            <div class="container-fluid">

                <!-- Tricks gallery -->
                <section id="tricks-gallery" class="gallery position-relative">
                    {# {{ dump(tricks) }} #}
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-5" id="tricksList">
                    {% for trick in tricks %}
                        {{ include('tricks/_inc/thumbnail_trick.html.twig') }}
                    {% endfor %}
                    </div>

                    <!-- See more button -->
                    <div class="row">
                        <div class="col-12 text-center">
                            <button id="seeMoreTricks" class="btn" data-urlmore="{{ path('app_see_more_tricks', {'offset': 0}) }}">Encore plus de tricks</button>
                            {# <button id="seeMoreTricks" class="btn" data-urlmore="{{ path('app_see_more_tricks', {'offset': 0}) }}">Encore plus de tricks</button> #}
                        </div>
                    </div>
                    <a href="#tricks" id="anchor-up"><i class="fas fa-arrow-up fa-2x"></i></a>
                </section>

            </div>

        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/homepage.js') }}"></script>
    {% endblock %}