{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Mon compte{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="signin" class="content col-lg-5 col-md-8 mx-auto my-auto">

                <h1 class="text-center">Mon compte</h1>

                {{ form_start(form) }}

                    {{ form_errors(form) }}

                    {# {{ form_row(form.username, {'disabled':'disabled'}) }} #}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}

{#                    <fieldset class="form-group">#}
{#                        <label>Photo</label>#}
{#                        <ul class="images">#}
{#                            <li class="subForm col-sm-12">#}
{#                                <div class="row">#}
{#                                    <div class="col-sm-9">#}
{#                                        {{ form_row(form.imageFileName) }}#}
{#                                    </div>#}
{#                                    <div class="col-sm-3 my-auto text-center">#}
{#                                        {% if(form.vars.data.imagePath is not null and form.vars.data.imageFileName is not null) %}#}
{#                                            <a href="{{ asset(form.vars.data.imagePath ~ form.vars.data.imageFileName) }}" target="_blank">#}
{#                                                <img src="{{ asset(form.vars.data.imagePath ~ form.vars.data.imageFileName) }}" height="200">#}
{#                                            </a>#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </fieldset>#}

                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Enregistrer les modifications
                    </button>

                {{ form_end(form) }}

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}