{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Mon compte{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="signin" class="content col-lg-5 col-md-8 mx-auto my-auto">

                <h1 class="text-center">Mon compte</h1>

                {{ form_start(form) }}

                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Enregistrer les modifications
                    </button>

                {{ form_end(form) }}

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}