{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Créer un trick{% endblock %}

    {% block content %}

        <div class="page-wrapper">

            <div id="signin" class="content col-lg-5 col-md-8 mx-auto my-auto">

                <h1 class="text-center">Inscription</h1>

                {# {{ dump(form) }} #}
                {{ form_start(form) }}

                    <!--<div class="form-errors">
                        {# {{ form_errors(form) }} #}
                    </div>-->

                    {#
                    {% if not form.vars.valid %}
                        <ul>
                            {% for child in form.children %}
                                {%for error in child.vars.errors%}
                                    <li class="alert alert-danger text-center">{{error.message}}</li>
                                {%endfor%}
                            {%endfor%}
                        </ul>
                    {%endif%}
                    #}

                    {{ form_row(form.username) }}
                    {#
                    {% if form_errors(form.username) %}
                        <div class="alert alert-danger">{{ form_errors(form.username) }}</div>
                    {% endif %}
                    #}

                    {{ form_row(form.email) }}

                    {{ form_row(form.password) }}
                    {#
                    {% if form_errors(form.password) %}
                        <div class="alert alert-danger">{{ form_errors(form.password) }}</div>
                    {% endif %}
                    #}

                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Créer le compte
                    </button>
                {{ form_end(form) }}

                <p class="text-center"><a href="{{ path('app_login') }}">Vous possédez déjà un compte ?</a></p>

            </div>

        </div>

    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/registration.js') }}"></script>
    {% endblock %}