{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/user.css') }}">
    {% endblock %}

    {% block title %}SnowTricks - Renouvellement du mot de passe{% endblock %}

    {% block content %}
        <div class="page-wrapper">
            <div class="content col-lg-5 col-md-8 mx-auto my-auto">
                <h1>Renouvellement du mot de passe</h1>
                {{form_start(form)}}
                    {{form_row(form.password.first)}}
                    {{form_row(form.password.second)}}
                    <button type="submit" class="btn btn-success" formnovalidate>
                        <i class="fas fa-download"></i> Renouveler le mot de passe
                    </button>
                {{form_end(form)}}
            </div>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/user.js') }}"></script>
    {% endblock %}